<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About Us - Raj Agrotech</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/myhome.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1 style="color: black;">About Us</h1>
    <h3><p style="color: black;">Welcome to Raj Agrotech!</p></h3>
    <p style="color: black;">We are dedicated to providing innovative solutions and recommendations for crop cultivation. Our mission is to help farmers achieve higher yields and sustainable farming practices.</p>
    <p style="color: black;">At Patil Agrotech, we combine cutting-edge technology with agricultural expertise to offer personalized crop recommendations based on soil analysis and environmental factors.</p>
    <p style="color: black;">Feel free to explore our website and discover how we can assist you in optimizing your farming strategies.</p>
  </main>
</body>
</html>
